{% extends 'base.html' %}
{% load static %}

{% block title %}
	아이디 찾기
{% endblock %}



{% block css_files %}
{% endblock %}

{% block js_files %}
	<script type="text/javascript" src="{% static 'js/mypage.js' %}"></script>
{% endblock %}


{% block content %}

{% if find_id %}
	해당 이메일에 등록 된 아이디는 {{ find_id }} 입니다
	<a href="{% url 'login' %}">로그인 페이지로 이동</a>

{% else %}
    <form method="POST">
        {% csrf_token %}
	    {% if error_msg %}
	        <p style="color:red">{{ error_msg }}</p>
	    {% endif %}
		<div>
			<ul>
			  <li>
				이름
				<input type="text" name="name" placeholder="예시:푸디핏" required>
			  </li>
			  <li>
				생년월일
				<input class="birth_date" type="text" name="birth_date" placeholder="예시: 1997-11-13" maxlength="10" required>
			  </li>
			  <li>
				이메일
				<input type="email" name="email" placeholder="예시: foodeepeat@fde.com" required>
			  </li>
			</ul>
		</div>
		<button type="submit" class="findid" onclick="checkFields()">아이디 찾기</button>
    </form>
{% endif %}

{% endblock %}