{% extends 'base.html' %}
{% load static %}

{% block title %}
	아이디 찾기
{% endblock %}



{% block css_files %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/find_username.css' %}">
{% endblock %}

{% block js_files %}
	<script type="text/javascript" src="{% static 'js/find_username.js' %}"></script>
{% endblock %}


{% block content %}

{% if find_username %}
<div class="wrap">
	<div class="center_wrap">
		<div class="all-wrap">
			<div class="logo-wrap">
				<a class="go-home" href="{% url "calorie:home" %}" target="_blank">
					<img src="{% static 'image/horizontal_logo.png' %}"></a>
				<p class="all-main">
					아이디 찾기 결과
				</p>
				<p class="all-sub">
					아이디는 [<span>&nbsp;{{ find_username }}&nbsp;</span>] 입니다.
				</p>
			</div>

			<div id="btn-wrap" class="btn-wrap">
				<a class="login-btn" href="{% url 'login' %}">로그인</a>
			</div> 
		</div>	
	</div>
</div>

{% else %}
<div class="wrap">
	<div class="center_wrap">		
		<div class="login-logo-wrap">
			<a class="login-logo" href="{% url 'calorie:home' %}"><img src="{%static 'image/horizontal_logo.png' %}"></a>
			<div class="forget">
				<p class="hello-main">
					아이디 찾기
				</p>
				<p class="hello-sub">
					가입하신 정보로 아이디를 확인하실 수 있습니다.<br>
					가입할 때 등록하신 정보를 입력하시고 "아이디 찾기" 버튼을 클릭해주세요.		
				</p>
			</div>
		</div>
		<form name="findform" method="POST">
			{% csrf_token %}
			<div class="user-info">
				<label for="user-name" class="tag">이름</label>
				<input type="text" name="name" class="user-name tagform" placeholder="푸디핏" required>
			</div>
			<div class="user-info">
				<label for="birthday" class="tag">생년월일</label>
				<input class="birthday tagform" type="text" name="birth_date" placeholder="2023-03-30" maxlength="10" onkeyup="addHyphenBirth(this)" required>
			</div>

			<div class="user-info">
				<label for="tel" class="tag">휴대폰 번호</label>
				<input class="tel tagform" type="text" name="number" placeholder="010-1234-5678" maxlength="13" onkeyup="addHyphenTel(this)" required>
			</div>
			{% if error_msg %}
				<p style="color:red">{{ error_msg }}</p>
			{% endif %}

			<!-- showVerfication을 해야 btn-wrap이 verification-cantainer로 바뀜 !! -->
			<div id="btn-wrap">
				<button class="login-btn" type="submit" onclick="checkFields();">아이디 찾기</button>
			</div>       
		</form>

		<div class="copy">
			<p>Copyright © FooDeepEat Corp. All Rights Reserved.</p>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}