{% extends "base.html" %}
{% load static %}

{% block title %}
	회원가입완료
{% endblock %}]

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/register_done.css' %}">
{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="wrap">
	<h2 class="headtxt">회원가입</h2>
	<div class="donemsg">
		<p> <strong>회원가입이 완료되었습니다.</strong> </p>
        <p>푸디핏과 함께 건강한 식생활 라이프스타일을 누려보세요.</p>
        <p>해당 이메일에 등록 된 아이디는 <a href="{% url 'mypage' %}">{{ userid }}</a>입니다.</p>
		<button class="tologinpagebtn"><a href="{% url 'login' %}">로그인 페이지로 이동</a></button>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}