{% extends 'base.html' %}

{% block title %}
    FooDeepEat
{% endblock %}

{% block content %}	
{% include 'header.html' %}
<div class="wrap">
    <div class="section" style="white-space: nowrap;">    
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <div class="slidewrap">
            <ul class="slidelist" style="display: inline-block;">
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide03" class="left"></label>
                        <img src="/static/image/backimg01.jpg" alt="slide01">
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide01" class="left"></label>
                        <img src="/static/image/backimg02.jpg" alt="slide02">
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide02" class="left"></label>
                        <img src="/static/image/backimg03.jpg" alt="slide03">
                        <label for="slide01" class="right"></label>
                    </a>
                </li>
            </ul>
            <div class="slide-control">
                <div class="control01">
                    <label for="slide03" class="left"></label>
                    <label for="slide02" class="right"></label>
                </div>
                <div class="control02">
                    <label for="slide01" class="left"></label>
                    <label for="slide03" class="right"></label>
                </div>
                <div class="control03">
                    <label for="slide02" class="left"></label>
                    <label for="slide01" class="right"></label>
                </div>
            </div>
        </div> 
    </div>


    <section>
        <h2>
            오늘의 추천 식단!
        </h2>
        {% for random_food, random_img in random_food_list %}
	        <div style="display: inline-block; margin-right: 20px;">
	            <table class="foodinformation">
	                <thead>
	                <tr>
	                    <td>{{ random_food.name }}</td>
	                    <td colspan="2">영양 이름</td>
	                </tr>
	                </thead>

	                <tbody>
	                <tr>
	                    <td rowspan="4">
	                        <img src="{{ random_img.food_img.url }}" alt="{{ random_food.name }}">
	                    </td>
	                    <td>{{ random_food.energy }}(Kcal)</td>
	                    <td>영양 정보</td>
	                </tr>
	                <tr>
	                    <td>{{ random_food.carbohydrate }}(g)</td>
	                    <td>영양 정보</td>
	                </tr>
	                <tr>
	                    <td>{{ random_food.protein }}(g)</td>
	                    <td>영양 정보</td>
	                </tr>
	                <tr>
	                    <td>{{ random_food.fat }}(g)</td>
	                    <td>영양 정보</td>
	                </tr>
	                </tbody>
	            </table>
	        </div>
	    {% endfor %}
    </section>
</div>
{% include 'footer.html' %}
{% endblock %}

