{% extends 'base.html' %}
{% load static %}

{% block title %}
    FooDeepEat
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
{% endblock %}

{% block js_files %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper.js' %}" sourceMap="false"></script>
<script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}" sourceMap="false"></script>

<script>    
 var mySwiper = new Swiper('.swiper-container', {
	navigation: {
		prevEl: '.swiper-button-prev',
		nextEl: '.swiper-button-next',
	  },
	    autoplay: {
 	    delay: 1500,
		disableOnInteraction: false,
	   },
	  slidesPerView: 1, // 보여지는 슬라이드 수
	  spaceBetween: 30, // 슬라이드 간의 거리(px 단위)
	  loop: true, // 슬라이드 무한 반복
	  touchRatio: 0,//드래그 금지
 });
</script>
{% endblock %}


{% block content %}
{% include 'header.html' %}
<div class="wrap">
    <div class="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/static/image/backimg01.jpg" alt="slide01">
                </div>
                <div class="swiper-slide">
                    <img src="/static/image/backimg02.jpg" alt="slide02">
                </div>
                <div class="swiper-slide">
                    <img src="/static/image/backimg03.jpg" alt="slide03">
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>


    {% comment %} <div class="section" style="white-space: nowrap;">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <div class="slidewrap">
            <ul class="slidelist" style="display: inline-block;">
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide03" class="left"></label>
                        <img src="/static/image/backimg01.jpg" alt="slide01">
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide01" class="left"></label>
                        <img src="/static/image/backimg02.jpg" alt="slide02">
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li style="width: 100%;">
                    <a href="#">
                        <label for="slide02" class="left"></label>
                        <img src="/static/image/backimg03.jpg" alt="slide03">
                        <label for="slide01" class="right"></label>
                    </a>
                </li>
            </ul>
            <div class="slide-control">
                <div class="control01">
                    <label for="slide03" class="left"></label>
                    <label for="slide02" class="right"></label>
                </div>
                <div class="control02">
                    <label for="slide01" class="left"></label>
                    <label for="slide03" class="right"></label>
                </div>
                <div class="control03">
                    <label for="slide02" class="left"></label>
                    <label for="slide01" class="right"></label>
                </div>
            </div>
        </div>
    </div> {% endcomment %}


    <section class="today_cont">
        <h2 class="headtxt">오늘의 영양정보 !</h2>

        {% for random_food, random_img in random_food_list %}
        <div class="today_box">
            <div class="today_img">
                <img src="{{ random_img.food_img.url }}" alt="{{ random_food.name }}">
            </div>
            <div class="today_txtbox">
                <ul class="today_ul">
                    <li class="today_li">
                        <p class="today_name">{{ random_food.name }}</p>
                    </li>
                    <li class="today_li">
                        <span class="left_txt">- 열량</span>
                        <span class="right_txt">
                            {{ random_food.energy|floatformat:1 }}(Kcal)</span>
                    </li>
                    <li class="today_li">
                        <span class="left_txt">- 탄수화물</span>
                        <span class="right_txt">{{ random_food.carbohydrate|floatformat:1 }}(g)</span>
                    </li>
                    <li class="today_li">
                        <span class="left_txt">- 단백질</span>
                        <span class="right_txt">{{ random_food.protein|floatformat:1 }}(g)</span>
                    </li>
                    <li class="today_li">
                        <span class="left_txt">- 지방</span>
                        <span class="right_txt">{{ random_food.fat|floatformat:1 }}(g)</span>
                    </li>
                </ul>
            </div>
        </div>

       {% endfor %}
    </section>
</div>


{% include 'footer.html' %}
{% endblock %}