{% extends 'base.html' %}

{% block title %}
	푸디핏 사람들
{% endblock %}


{% block content %}
{% include 'header.html' %}
<div class="wrap">
    <section>
        <h2>
            함께하는 식생활 라이프스타일 서포터 <em>푸디핏</em>입니다.
        </h2>
        <div>
            <strong>푸디핏은 Food와 DeepLearning 그리고 Eat이 합쳐진 이름입니다.</strong>
            <h3>푸디핏은 당신의 식생활 라이프스타일을 응원합니다.</h3>
            <p>그렇고 그런 이야기</p>
            <p>저렇고 저런 이야기</p>
            <p>이렇고 이런 이야기</p>
        </div>
        <div>
            <h3>푸디를 소개합니다.</h3>
            <p>그렇고 그런 이야기</p>
            <p>귀여운 마스코트</p>
            <p>이렇고 이런 이야기</p>
        </div>
        <div id="serviceabstract">
            <h3>푸디핏은 고객님을 도와드리기 위해 다음과 같은 기술을 사용합니다.</h3>
            <p>그렇고 그런 이야기</p>
            <p>멋진 사진과 기술 구조</p>
            <p>이렇고 이런 이야기</p>
        </div>
        <div>
            <h3>푸디핏을 가꿔가는 멋진 친구들을 소개합니다.</h3>
            <p>멋진 프로필 이미지</p>
            <p>푸디핏 친구들</p>
            <p>맡은 역할과 이름, 컨택트</p>
        </div>
    </section>
</div>
{% include 'footer.html' %}
{% endblock %}