{% extends 'base.html' %}
{% load static %}

{% block title %}
	마이페이지
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block js_files %}
	<script type="text/javascript" src="{% static 'js/mypage.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'header.html' %}

<div class="wrap wide">
    <div class="all-content">
        <div class="sidebar-wrap">
            <ul>
                <li><a class="daily-nutri" href="{% url 'calorie:mypage' %}">일일 영양정보</a></li>
                <li><a class="daily-nutri" href="{% url 'register_edit' %}">회원정보수정</a></li>
            </ul>
        </div>
        <div class="main-wrap">
            
            <div class="mypage-intro">
                <ul>                    
                    <li class="mypage-intro-main">마이페이지</li>
                    <li class="mypage-intro-sub">일일 영양정보 확인</li>
                </ul>
            </div>
            <div class="summary-wrap">
                <div class="calendar">
                    <form method="GET">
                        <label>
                            <input type="date" name="date" id="currentDate" value="{{ date }}">
                        </label>
                        <button type="submit" class="date_btn">선택</button>
                    </form>
                </div>

                <div class="pie-chart">
                    <canvas width='400' height='400' id='canvas'></canvas>
                </div>

                <div class="nutri-memo">
                    <div class="total-nutri">
                        <p class="memo-label">─ 오늘의 영양정보 요약 ─</p> 
                        <table class="nutri-table">
                            <tbody>
                                <tr>
                                    <th>열량</th>
                                    <td>|</td>
                                    <td><span id="total_energy">{{ food_nutri.total_energy }}</span>&nbsp;kcal</td>                                    
                                </tr>
                                <tr>
                                    <th>탄수화물</th>
                                    <td>|</td>
                                    <td><span id="total_carbohydrate">{{ food_nutri.total_carbohydrate }}</span>&nbsp;g</td>                                    
                                </tr>
                                <tr>
                                    <th>단백질</th>
                                    <td>|</td>
                                    <td><span id="total_protein">{{ food_nutri.total_protein }}</span>&nbsp;g</td>
                                </tr>
                                <tr>
                                    <th>지방</th>
                                    <td>|</td>
                                    <td><span id="total_fat">{{ food_nutri.total_fat }}</span>&nbsp;g</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="memo">
                        <form method="POST">
                            {% csrf_token %}
                            {% if not memos %}
                                <input type="hidden" name="edit_date" value="{{ date }}">
                                <p class="memo-label">─ 오늘의 한 마디 ─</p>         
                                <textarea class="memo-pad" maxlength="300" name="memo_text" placeholder="최대 300자까지 입력 가능합니다."></textarea>
                                <button class="write-btn" type="submit">기록하기</button>
                            {% else %}
                                <input type="hidden" name="edit_date" value="{{ date }}">
                                <p class="memo-label">─ 오늘의 한 마디 ─</p>
                                <textarea class="memo-pad" maxlength="300" name="memo_text" placeholder="최대 300자까지 입력 가능합니다.">{{ memos.description }}</textarea>
                                <button class="write-btn" type="submit">수정하기</button>
                            {% endif %}
                        </form>

                    </div>
                </div>
            </div>



            <div class="record-wrap">
                <div class="meal-summary">
                    <table class="sum-table">
                        <tr>
                        <td class="timestamp">{{ food_time }}</td>
                        <td class="meal-nutri">
                            <span>
                                총 열량
                                (<span>{{ food_nutri.total_energy }}</span>kcal)
                            </span>
                            <span>
                                탄수화물
                                (<span>{{ food_nutri.total_carbohydrate }}</span>g)
                            </span>
                            <span>
                                단백질
                                (<span>{{ food_nutri.total_protein }}</span>g)
                            </span>
                            <span>
                                지방
                                (<span>{{ food_nutri.total_fat }}</span>g)
                            </span>
                        </td>
                        </tr>
                    </table>
                </div>

                <div class="what-eat">
                    <div class="food-list">
                        <table class="food-number">
                            <tr>
	                            {% for food in foods %}
	                                <td>
	                                    <div class="food-card-main">
                                            {% if food.user_food_images.exists %}
                                            <span class="food-card-img">
	                                            <img src="{{ food.user_food_images.first.food_img.url }}" alt="">
                                            </span>
                                            {% else %}
                                            <span class="food-card-img">
	                                            <img src="{% static 'image/service_default_bg.jpg' %}" alt="">
                                            </span>
		                                    {% endif %}
		                                    <div class="food-card-sub">
	                                            <table class="food-table">
	                                                <thead>
	                                                    <tr>
	                                                        <th colspan="4">{{ food.name.name }}</th>
	                                                    </tr>
	                                                </thead>
	                                                <tbody>
	                                                    <tr>
	                                                        <th>열량</th>
	                                                        <td>|</td>
	                                                        <td>{{ food.energy }}kcal</td>
	                                                    </tr>
	                                                    <tr>
	                                                        <th>탄수화물</th>
	                                                        <td>|</td>
	                                                        <td>{{ food.carbohydrate }}g</td>
	                                                    </tr>
	                                                    <tr>
	                                                        <th>단백질</th>
	                                                        <td>|</td>
	                                                        <td>{{ food.protein }}g</td>
	                                                    </tr>
	                                                    <tr>
	                                                        <th>지방</th>
	                                                        <td>|</td>
	                                                        <td>{{ food.fat }}g</td>
	                                                     </tr>
	                                                </tbody>
	                                            </table>
	                                        </div>
	                                    </div>
	                                </td>
	                            {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
                <p class="upload-time">*작성시간: {{ food.created_at }}</p>
            </div>

        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}