{% extends 'base.html' %}
{% load static %}

{% block title %}
	영양정보 확인
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block js_files %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}


{% block content %}
{% include 'header.html' %}
<div class="wrap">
	<h2 class="headtxt">검색하기</h2>

	<form method="GET">
		<div class="search_box">
			<span class="search_input">
				<input type="text" name="food" placeholder="검색어를 입력해주세요."/>
			</span>
			<button class="search_btn">검색</button>
		</div>
	</form>

	<div class="nutri_info_cont">
		<ul>
			{% for food in foods %}
				<li class="nutri_info_li">
{#					{% comment %} <a href="#none" class="close_btn">닫기</a> {% endcomment %}#}
					{% if image %}
						{% with food.images.all|random as image %}
	                        <span class="nutri_thum_img"><img src="{{ image.food_img.url }}" alt="{{ food.name }}"/></span>
                        {% endwith %}
					{% else %}
	                    <span class="nutri_thum_img"><img src="{% static 'image/logo.png' %}" alt="{{ food.name }}"/></span>
                    {% endif %}
					<div class="nutri_info">
						<p class="nutri_txt">[<span class="nutri_food_name">{{ food.name }}</span>] 영양정보</p>
						<table class="nutri_info_table">
							<thead>
								<tr>
									<th>열량(kcal)</th>
									<th>탄수화물(g)</th>
									<th>단백질(g)</th>
									<th>지방(g)</th>
									<th>당류(g)</th>
									<th>콜레스테롤(mg)</th>
									<th>칼슘(mg)</th>
									<th>인(mg)</th>
									<th>나트륨(mg)</th>
									<th>칼륨(mg)</th>
									<th>마그네슘(mg)</th>
									<th>철(mg)</th>
									<th>아연(mg)</th>
									<th>트랜스지방(g)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="num">{{ food.energy }}</span>kal</td>
									<td><span class="num">{{ food.carbohydrate }}</span>g</td>
									<td><span class="num">{{ food.protein }}</span>g</td>
									<td><span class="num">{{ food.fat }}</span>g</td>
									<td><span class="num">{{ food.sugar }}</span>g</td>
									<td><span class="num">{{ food.cholesterol }}</span>g</td>
									<td><span class="num">{{ food.calcium }}</span>g</td>
									<td><span class="num">{{ food.phosphorus }}</span>g</td>
									<td><span class="num">{{ food.sodium }}</span>g</td>
									<td><span class="num">{{ food.potassium }}</span>g</td>
									<td><span class="num">{{ food.magnesium }}</span>g</td>
									<td><span class="num">{{ food.iron }}</span>g</td>
									<td><span class="num">{{ food.zinc }}</span>g</td>
									<td><span class="num">{{ food.trans_fat }}</span>g</td>
								</tr>
							</tbody>
						</table>
						<p class="mini_r">* 100g 기준 영양정보입니다.</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="pagination">
	{#	이전 페이지 존재 #}
    {% if foods.has_previous %}
	<span class="paging prev_btn">
        <a href="?page={{ foods.previous_page_number }}&food={{ request.GET.food }}">Prev</a>
    </span>
		{% endif %}

	{# 요청받는 값 만큼 페이지 수 확인 #}
    {% for num in foods.paginator.page_range %}
        {% if num == foods.number %}
            <span class="active paging_txt">{{ num }}</span>
        {% else %}
		<span class="paging_txt">
            <a href="?page={{ num }}&food={{ request.GET.food }}">{{ num }}</a>
		</span>
        {% endif %}
    {% endfor %}

	{# 다음 페이지 존재 #}
    {% if foods.has_next %}
	<span class="paging next_btn">
        <a href="?page={{ foods.next_page_number }}&food={{ request.GET.food }}">Next</a>
	</span>
    {% endif %}
</div>

{% include 'footer.html' %}
{% endblock %}

