{% extends 'base.html' %}
{% load static %}

{% block title %}
	영양정보 확인
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
{% endblock %}

{% block js_files %}
<script type="text/javascript" src="{% static 'js/service.js' %}"></script>
{% endblock %}


{% block content %}
{% include 'header.html' %}
<div class="wrap">
	<div class="userfood">
		<form method="POST" name="user_food" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="foodbox">
				<label for="file-upload" class="pick_food">
					<input id="file-upload" name="user_food" type="file" multiple>
				</label>
				<span class="show_food">
					<img id="showFood" src="/static/image/service_default_bg.jpg" alt=""/>
				</span>
				<button type="submit" class="btn_style01">영양정보 확인하기</button>
			</div>
			<div class="previe-cont">
				<ul class="preview-container"></ul>
			</div>
		</form>
	</div>

	<div class="food_cont">
		<div class="food_box">
			<form method="POST" name="user_weight">
				{% csrf_token %}
				<div class="food_info_div">
					{% for food in user_food_list %}
					<div class="food_info">
						<table class="food_info_table">
							<colgroup>
								<col width="50%">
								<col width="50%">
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">
										<div class="thum_box">
											<p class="thum_img"><img src="{{ food.image.url }}" alt=""/></p>
											<p class="thum_txt">[<span class="thum_name">{{ food.food.name }}</span>] 100g 기준의 영양정보입니다.</p>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>열량(kcal)</td>
									<td><span>{{ food.user_food.energy|floatformat:1 }}</span>kal</td>
								</tr>
								<tr>
									<td>탄수화물(g)</td>
									<td><span>{{ food.user_food.carbohydrate|floatformat:1 }}</span>g</td>
								</tr>
								<tr>
									<td>단백질(g)</td>
									<td><span>{{ food.user_food.protein|floatformat:1 }}</span>g</td>
								</tr>
								<tr>
									<td>지방(g)</td>
									<td><span>{{ food.user_food.fat|floatformat:1 }}</span>g</td>
								</tr>
							</tbody>
						</table>
						<p>{{ food.user_food.created_at }}</p>
						<input type="hidden" name="created_at_{{ forloop.counter }}" value="{{ food.user_food.created_at }}">
						<input type="hidden" name="food_name_{{ forloop.counter }}" value="{{ food.food.name }}">
						<div class="eatbox">
							<span class="eat_txt">얼마나 드셨나요?(g)</span>
							<span class="eat_input">
								<input type="text" value="" name="user_weight_{{ forloop.counter }}" id="inputField" required>
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
				{% if user_food_list %}
				<div class="food_write_box">
					<select name="food_time" class="food_time">
						<option value="간식" selected>간식</option>
						<option value="저녁" selected>저녁</option>
						<option value="점심" selected>점심</option>
						<option value="아침" selected>아침</option>
					</select>
					<button type="submit" class="write_btn">기록하기</button>
				</div>
				{% endif %}
			</form>
		</div>			
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}


