{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/test.css' %}">
	<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
	<title>Title</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/service/?form=userfood">
    <div class="foodbox">
        <label for="file-upload" class="pick_food">
            <input id="file-upload" type="file" multiple onchange="previewImages(this);">
        </label>
        <div class="preview-container"></div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>