
/*header*/
.menu{
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99;
  /* border-bottom: 2px solid #37BA2A; */
  width: 100%;
  max-width: 1920px;
  height: 70px;
  transform: translate(-50%);
  background-color: rgba(32, 107, 24, 1);

}
.manu_nav{
  padding:10px 40px 10px 25px;
  position: relative;
}



.logo{
  width: 210px;
  height: 40px;
  display: inline-block;
  float: left;
  margin: 5px 0;
}
.logo img{
  width: 100%;
}
.logo a{
  width: 100%;
  display: inline-block;
}

.nav_menu li, .nav_user li{
  float: left;
}

.nav_menu{
  margin-left: 30px;
}
.nave_menu_li{
  padding: 10px 0;
}
.nave_menu_li a{
  font-size: 20px;
  color:#fff;
}
.nave_menu_li a:hover, .nav_user_li a:hover{
  color : #37BA2A; 
  /* 포인트색 1 : 옅은초록 */
  transition: color 0.3s ease-in-out;
}


.nav_menu li+li{
  margin-left: 25px;
}

.nav_user{
  float: right;
  line-height: 46px;
}
.nav_user li+li{
  margin-left: 15px;
}
.nav_user a{
  
  color:#fff;
}



/*footer 관련 속성*/
footer{     
  position: relative;
  max-width: 1920px;
  min-width: 1200px;
  width: 100%;
  height: 200px;
  padding: 40px 0 50px;
  box-sizing: border-box;
  margin: 20px auto 0;
  background-color: #f9f9f9;
  /* transform: translate(-50%); */
}
.footer_box{
  width: 100%;
}

.footer_logo{
  width: 80px;
  float: left;
  margin: 0 50px;
}
.footer_logo img{
  width: 100%;
}

.footer_info{
  display: inline-block;
  margin: 20px 0 5px;
}
.footer_menu li{
  float: left;
}
.footer_li a{
  cursor: pointer;
}
.footer_li a:hover{
  color : #37BA2A; 
  /* 포인트색 1 : 옅은초록 */
  transition: color 0.3s ease-in-out;
}

.footer_menu li+li{
  margin-left: 25px;
}
.copyright{
  margin: 5px 0 20px;
}






