/* ===================================================== */
/* 제목: 아이디 비번 입력 + 로그인 버튼 */

.login-wrap{
  border-radius: 10px;
}
/*input*/
.login-input-wrap{
  margin: 0px 10px;
  padding: 15px;
  border: solid 1px #ccc;
  border-radius: 5px; 
  background: #fff;
}
.login-input-wrap+.login-input-wrap{
  margin-top:20px;
}
.error{
  font-size: 12px;
  color: #C92E2E;
  margin:10px 20px 20px;
}
.tag{
  font-size: 13px;
  color: gray;
}
.tagform{
    border: none;
    outline:none;
    width:100%;
}

/*input 아이디 form*/
.login-input-id{
  border: none;
  outline:none;
  width:100%;
}
/*input 패스워드 form*/
.login-input-pw{
  border: none;
  outline:none;
  width:100%;
}
/*로그인버튼박스*/
.login-btn-wrap{
  height: 52px;
  line-height: 55px;
  text-align: center;
  margin: 20px 10px 8px 10px;
  border: solid 1px rgba(0,0,0,.1);
  border-radius: 7px;
  background-color: #37BA2A;
  color: #fff;
  cursor: pointer;
}
/*로그인버튼*/
.login-login-btn{
  width:100%;
  height: 100%;
  background-color: #37BA2A;
  border: none;
  color:#fff;
  font-size: 18px;
  outline:none;
  cursor: pointer;
}

/* ===================================================== */
/* 제목: 아이디 저장 + 아이디/비번 찾기 */
/* 이게 큰 wrap */
.find-info {
  align: center;
}

/* ===================================================== */
/* 제목: 아이디 찾기 + 비밀번호 찾기 + 회원가입 랩 */


/* 우선 중앙정렬 해주기 */
.find-signup-wrap {
  text-align: center;
  margin-top: 30px;
  }


/* 각 단락 사이에 | 구분자를 만들고 싶어 */
.find-signup-wrap .find-pw::before {
  content: "|";
  color: gray;
  margin: 10px;
}

.find-signup-wrap .find-pw::after {
  content: "|";
  color: gray;
  margin: 10px;
}


/* 우선 밑줄을 없애고 색깔을 지정해줬고 */
.find-signup-wrap .find a,
.find-signup-wrap .find-pw a,
.find-signup-wrap .signup-in-login a{
text-decoration: none;
color: grey;
}


/* ===================================================== */
