

form+from{
    margin-top: 20px;
}

.sign_tit{
    margin: 50px 0 25px;
    font-size: 20px;
}

.sign_label{
    display: inline-block;
    width: 20%;
    font-weight: bold;
    float: left;
    line-height: 42px;
    clear: both;
}


.sign_input{
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding: 8px 16px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.sign_input input:disabled{
    color:#ccc;
}
.sign_selcet{
    width: 80%;
    border-radius: 5px;
    border: 0;
    padding-left: 5px;
    padding: 2px 0;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#id_gender{
    padding: 8px 16px;
    border: 1px solid #ccc;    
    border-radius: 5px;
}

.input_btngroup .sign_input{
    float: left;
    width: 60%;
}
.input_btngroup button{
    margin-left: 5px;
    width: 115px;
    height: 44px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    background-color: #37BA2A;
    border: 1px solid #37BA2A;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}
.red_msg{
    font-size: 12px;
    color: #C92E2E;
    text-indent: 120px;
}
.red_msg.margin{
    margin: 10px 0;
}
.green_msg{    
    font-size: 12px;
    color: #37BA2A;
    text-indent: 120px;
}
.green_msg.margin{
    margin: 10px 0;
}

.noti_msg{    
    color: #37BA2A;
    font-size: 12px;
    text-indent: 120px;
    margin: 0 0 10px 0;
}



.sign_btn{
    width: 100%;
    padding: 8px 16px;
    background-color: #206B18;
    border: 1px solid #206B18;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    height: 52px;
    margin: 20px 0;    
}

.noti_box{
    margin: 10px 0 30px;
}
.noti_box p{
    font-size: 14px;
}

.useragreement{    
    padding: 10px 20px;
    background-color: #f5f5f5;
    margin: 10px 0 20px;
}
.useragreement p{
    margin: 10px 0;
    font-size: 14px;
}
.radio_box li label{
    font-size: 14px;
}
.radio_box li input{
    width: 15px;
    margin: 8px 10px 8px 0;
}

form span {
    display: block;
}


.signinrequired_cont{
    width: 600px;
    margin: 50px auto 0; 
}

