.wrap {
    max-width: 800px;
    margin: 10px auto;
  }
  
  .donemsg {
    text-align: center;
    margin: 10px;
  }

 .tologinpagebtn{
    background-color: greenyellow;
    border-color: green;
    padding: 10px 20px;
    border-radius: 5px;
}
.tologinpagebtn a{
    color: inherit;
    text-decoration: none;
}