{% extends 'base.html' %}

{% block title %}
	비밀번호찾기
{% endblock %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="">
{% endblock %}


{% block content %}
<form method="POST">

    {% csrf_token %}
	<label>아이디 작성해주세요.
        <input type="text" name="username">
	</label>
	<label>이메일 작성해주세요.
        {{ form.email }}
		<p style="color: darkgray">형식: sesac@coding.com</p>
	</label>
	<label>이름을 작성해주세요.
        <input type="text" name="name">
	</label>

    <button type="submit">비밀번호 찾기</button>
</form>

{% endblock %}