.mypage-intro{
    width: 100%;
    text-align: center;
    margin: 0 auto 50px;
    /* background-color: #D1FFD9; */
}
.mypage-intro-main{
    font-size: 30px;
    font-weight: 700;
}

.mypage-intro-sub{
    font-size: 22px;
    color: #206B18;
    padding-top: 5px;
}

.all-content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.sidebar-wrap{
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(32, 107, 24, 1);
    position: fixed;
    top:70px;

}
.sidebar-wrap ul{
    width: 100%;
}
.sidebar-wrap ul li{
    width: 100%;
}
.sidebar-wrap .daily-nutri{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    color: #206B18;
    box-sizing: border-box;
    padding: 20px 30px;
}
.sidebar-wrap ul li .daily-nutri:hover{
    color: #fff;
    background-color: #206B18;
}


.main-wrap{
    width: 910px;
    height: 100%;
    /* border-spacing: 10px; */
    margin: 50px auto 20px;
    padding-left: 200px;
}

.summary-wrap{
    padding: 20px 0;
    width: 910px;
    height: 580px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 auto 25px;
}

.calendar{
    text-align: center;
    margin: 15px;
}

#currentDate{
    border: 1px solid gray;
    border-radius: 7px;
    text-align: center;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #206B18;
    color:#206B18;
}
.date_btn{
    width: 60px;
    height: 42px;
    background-color: #36ba2a31;
    border: 1px solid #36ba2a31;
    border-radius: 7px;
    padding: 5px 10px;
    color:#206B18;


}


.pie-chart{
    display: inline-block;
    width: 400px;
    height: 400px;
    float: left;
    font-size: 30px;
}

.nutri-memo{
    display: inline-block;
    width: 480px;
    height: 500px;
}

.total-nutri{
    width: 480px;
    height: 250px;
}

.total-nutri tr th{
    text-align: left;
}

.total-nutri tr td{
    text-align: center;
    padding: 0px 5px;
}

.nutri-table{
    margin: auto;
}

.nutri-table caption{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px 10px 0px;
}

.nutri-table, td, th {
    border-collapse : separate;
    border-spacing: 10px;
    font-size: 20px;
}

.memo-label{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.memo{
    width: 480px;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.memo-pad{
    display: block;
    resize: none;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #206B18;
}
/* .memo-done{
    display: block;
    resize: none;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    word-break: break-word;
} */
/* .memo-done{
    width: 300px;
    height: 120px;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    word-break: break-word;
} */


.write-btn{
    width: 100px;
    height: 42px;
    background-color: #36ba2a31;
    border: 1px solid #36ba2a31;
    border-radius: 7px;
    padding: 5px 10px;
    color: #206B18;
    position: absolute;
    right: 90px;
    margin: 20px 0 0 0;
}
.edit-btn{
    width: 100px;
    height: 42px;
    border-radius: 7px;
    padding: 5px 10px;
    color: #206B18;
    position: absolute;
    right: 90px;
    margin: 20px 0 0 0;
    background-color: #fff;
    border-color: #206B18;
}

.record-wrap{
    display: inline-block;
    width: 910px;
    height: auto;
    margin: 20px auto 30px;
}

.meal-summary{
    width: 910px;
    height: 50px;
    text-align: center;
}

.timestamp{
    width: 100px;
    height: 50px;
    border: 1px solid #37BA2A;
    color: #37BA2A;
    border-radius: 10px;
    font-weight: 700;
}

.meal-nutri{
    width: 810px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid gray;
}
.meal-nutri>span{
    position: relative;
}
.meal-nutri>span+span{
    margin-left: 15px;
}
.meal-nutri>span::after{
    content: "/";
    position: absolute;
    right: -7px;
    
}
.meal-nutri>span:last-child:after{
    content: none;
    
}

.what-eat{
    display: flex;
    width: 910px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.meal-photo{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 20px 0px 20px 20px;
}

.meal-photo img{
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.food-list{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}
.food-card-main{
    width: 250px;
    text-align: center;
    margin: 10px;
}

.food-card-main img{
    border: 1px solid gray;
    border-radius: 50%;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.food-card-img{
    width: 200px;
    height: 200px;
    display: inline-block;
}


.food-card-sub {
    border: 1px solid gray;
    border-radius: 7px;
    padding-top: 110px;
    margin-top: -100px;
    margin-bottom: 20px;
    width: 250px;
    height: 210px;
}

.food-card-sub tr th{
    text-align: left;
}

.food-card-sub tr td{
    text-align: center;
    padding: 0px 5px;
}

.food-table {
    margin: auto;
}

.food-table, td, th {
    border-collapse : separate;
    border-spacing: 6px;
    font-size: 16px;
}

.food-table thead th{
    text-align: center;
    font-size: 25px;
}

.food-number{
    margin: 20px auto;
}

.food-number td+td{
    margin-left: 10px;
}
