/*테이블*/
.food_cont{
  width: 100%;
  position: relative;
}
.food_cont ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.food_info{  
  float: left;
  width: 33.33%;
  margin: 0 auto;
  max-width: 325px;
}
.food_info:nth-child(5){
  clear: both;
}

.food_info_table {
  width: 90%;
  font-size: 15px;
}
.food_info_table thead{
  border: 0;
}
.food_info_table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.foodbox{
  position: relative;
  text-align: center;
  margin: 40px auto 30px;
  width: 250px;
}
.pick_food{
  width: 250px;
  height: 250px;
  display: inline-block;
  position: relative;
  z-index: 10;
}
.pick_food input[type="file"]{
  width: 100%;
  display: none;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}

.show_food{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  overflow:hidden;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ddd;
}

.show_food img{
  width: 100%;
}

.thum_box{
  margin: 25px 0 20px;
}
.thum_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.thum_img img{
  width: 100%;
}
.thum_txt{
  margin: 12px 0 0;
  font-size: 13px;
  text-align: center;
}
.thum_name{  
  color: #206B18;
  font-size: 14px;
  font-weight: 700;
  margin: 0 4px;
}

.eatbox{
  display: inline-block;
  padding: 20px 25px;
  width: 325px;
  box-sizing: border-box;
}
.eat_txt{
  font-size: 14px;
  margin: 0 0 10px;
}
.eat_input{  
  padding: 5px 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 180px;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  margin-right: 10px;
}
