#preview{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        align-items: center;
        overflow:hidden;
    }
#file-upload{
        display: none;
    }

#foodview{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        align-items: center;
        overflow:hidden;
        padding: 10px;
        margin-inline-start: 97px;
    }


/*테스트용*/
body{
    margin: 0 auto;
    max-width: 800px;
}

/*테이블*/
table {
    width: 350px;
    border-collapse: collapse;
    font-size: 15px;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tfoot td {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
  }

  input[type="text"] {
    border: 1px solid #ddd;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
  }

  #confirmButton, #editButton {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #editButton {
    background-color: #2196F3;
  }
